{% extends 'base.html' %}

{% block title %} User Details {% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<p>{{ msg }}</p>
{% endfor %}

<h1>About {{ user.first_name }} {{ user.last_name }}</h1>

<p>Username is: {{ user.username }}</p>

<p>Email is: {{ user.email }}</p>

<h3> Notes:</h3>

<ul>
    {% for note in user.notes %}
    <li>{{ note.title }}
        <small>{{ note.content }}</small>
        <a href="/notes/{{ note.id }}/update">Edit Note</a>
        <form action="/notes/{{ note.id }}/delete" method="POST">
            {{form.hidden_tag()}}
            <button type="submit">X</button>
        </form>
    </li>
    {% endfor %}
</ul>

<br><br>

<form action="/users/{{ user.username }}/notes/add" method="GET">
    <button type="submit">Add Note</button>
</form>

<br>

<form action="/logout" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Logout</button>
</form>

<br>

<form action="/users/{{ user.username }}/delete" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Delete Account</button>
</form>



{% endblock %}